body {
    quotes: "“" "”";
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 1.4705882353;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: #fff;
    color: #1d1d1f;
    font-style: normal;
    font-synthesis: none;
    direction: ltr;
    text-align: left;
    min-width: 320px;
}



/*
    Global Navigation
*/



.global_nav {
    unicode-bidi: isolate;
    font-weight: normal;
    text-size-adjust: 100%;
    box-sizing: content-box;
    float: initial;
    pointer-events: auto;
    letter-spacing: normal;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    width: 100%;
    min-width: 1024px;
    height: 100%;
    max-height: 44px;
    user-select: none;
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(20px);
}

.global_nav_div {
    float: inherit;
    font-size: 1em;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-align: inherit;
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
    padding-left: max(22px,env(safe-area-inset-left));
    padding-right: max(22px,env(safe-area-inset-right));
}

.global_nav_list {
    float: inherit;
    font-size: 1em;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-align: inherit;
    list-style: none;
    cursor: default;
    margin: 0 -8px;
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.global_nav_li {
    user-select: none;
    margin: 0;
    padding: 0;
    float: inherit;
    font-size: 1em;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-align: inherit;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    vertical-align: top;
}

.global_nav_a {
    float: inherit;
    text-align: inherit;
    font-size: 12px;
    line-height: 3.66667;
    letter-spacing: -.01em;
    color: #f5f5f7;
    padding: 0 8px;
    opacity: .8;
    text-decoration: none;
    white-space: nowrap;
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    outline-offset: -7px;
    width: 2.5em;
    max-width: 51px;
}

.main {
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    display: block;
    position: relative;
    max-width: 2560px;
    margin: 0 auto;
    padding-top: 44px;
}



/*
    Section Module
*/



.section_module {
    display: block;
    position: relative;
}

.section_head {
    pointer-events: none;
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    flex-direction: column;
    width: -webkit-fill-available;
    padding-top: 80px;
}

.section_headline {
    margin: 0;
    padding: 0;
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    flex-shrink: 1;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.section_subhead {
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    flex-shrink: 1;
    color: #1d1d1f;
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 6px;
}

.section_headlink {
    font-style: normal;
    text-align: center;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #06c;
    letter-spacing: inherit;
    z-index: 4;
    text-decoration: none;
    pointer-events: all;
    margin-left: -4px;
}

.section_image {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 0;
    width: -webkit-fill-available;
}